<h1> <%= username %>'s Profile </h1>

<form method="post" action="/gifs/search">
    GIF Search <br>
    <input type="text" name="q" placeholder="e.g. Computers"> <br>
    <label for="ratingSelect">Select a rating:</label>
        <select id="ratingSelect" name="rating">
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg-13">PG-13</option>
            <option value="r">R</option>
        </select>
        <br>
    <input type="submit">
</form>


<h1><%= username %>'s Gifs</h1>
<% if (gifs.length == 0) {%>
    <p>No gifs have been saved yet</p>
<% } else { %>
    <div class="d-flex flex-wrap justify-content-center">
        <% for (gif of gifs) {
            const url = gif.url
            const mp4 = gif.mp4
            const slug = gif.slug %>
            <div>
                <div class="p-2 border border-primary bg-light">
                    <strong> <%= gif.title %> </strong> <br>
                    <video autoplay="autoplay" loop="loop" width="400" height="300"> 
                        <source src= "<%= mp4 %>" type="video/mp4" /> 
                        <img src="<%= url %>" width="400" height="300" /> 
                    </video> 
                    <br>
                    <div class="border border-warning bg-light text-center">
                        <a href="/collection/delete/<%= slug %>">Delete from Collection</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } %>